body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:2px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:66px;
    top:138px;
    width:320px;
    height:43px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:66px;
    top:122px;
    width:321px;
    height:16px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:16px;
}

.u5 {
    position:absolute;
    left:2px;
    top:0px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:95px;
    top:122px;
    width:53px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:198px;
    top:122px;
    width:57px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:66px;
    top:220px;
    width:159px;
    height:171px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:171px;
}

.u9 {
    position:absolute;
    left:2px;
    top:78px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:225px;
    top:220px;
    width:161px;
    height:171px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:171px;
}

.u11 {
    position:absolute;
    left:2px;
    top:78px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:66px;
    top:391px;
    width:159px;
    height:174px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:174px;
}

.u13 {
    position:absolute;
    left:2px;
    top:79px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:225px;
    top:391px;
    width:161px;
    height:174px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:174px;
}

.u15 {
    position:absolute;
    left:2px;
    top:79px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:122px;
    top:224px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:280px;
    top:224px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:122px;
    top:393px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:286px;
    top:394px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:69px;
    top:369px;
    width:19px;
    height:17px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:17px;
}

.u21 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:226px;
    top:370px;
    width:19px;
    height:16px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:16px;
}

.u23 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u22_normal.png');
}

.u24_container {
    position:absolute;
    left:68px;
    top:544px;
    width:19px;
    height:16px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:16px;
}

.u25 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:202px;
    top:222px;
    width:20px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u26_normal.png');
}

.u28_container {
    position:absolute;
    left:364px;
    top:222px;
    width:20px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u26_normal.png');
}

.u30_container {
    position:absolute;
    left:205px;
    top:392px;
    width:20px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u26_normal.png');
}

.u32_container {
    position:absolute;
    left:360px;
    top:392px;
    width:20px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:66px;
    top:184px;
    width:319px;
    height:34px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:40px;
}

.u35 {
    position:absolute;
    left:2px;
    top:9px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:330px;
    top:146px;
    width:46px;
    height:25px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:31px;
}

.u37 {
    position:absolute;
    left:2px;
    top:6px;
    width:42px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:75px;
    top:187px;
    width:300px;
    height:28px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:34px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:70px;
    top:145px;
    width:10px;
    height:28px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:34px;
}

.u41 {
    position:absolute;
    left:2px;
    top:6px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:80px;
    top:145px;
    width:50px;
    height:28px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:34px;
}

.u43 {
    position:absolute;
    left:2px;
    top:7px;
    width:46px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:381px;
    top:262px;
    width:40px;
    height:18px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:24px;
}

.u45 {
    position:absolute;
    left:2px;
    top:1px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:395px;
    top:259px;
    width:276px;
    height:24px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:282px;
    height:30px;
}

.u47 {
    position:absolute;
    left:2px;
    top:4px;
    width:272px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:420px;
    top:191px;
    width:310px;
    height:60px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:66px;
}

.u49 {
    position:absolute;
    left:2px;
    top:22px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:438px;
    top:206px;
    width:280px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:382px;
    top:189px;
    width:13px;
    height:24px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:30px;
}

.u52 {
    position:absolute;
    left:2px;
    top:4px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:389px;
    top:186px;
    width:27px;
    height:30px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u54 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:420px;
    top:320px;
    width:310px;
    height:175px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:181px;
}

.u56 {
    position:absolute;
    left:2px;
    top:80px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:435px;
    top:336px;
    width:280px;
    height:144px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:228px;
    top:544px;
    width:18px;
    height:16px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:16px;
}

.u59 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:135px;
    top:149px;
    width:20px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Layout_Grid___Edit_Layout_main_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:66px;
    top:566px;
    width:319px;
    height:34px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:319px;
    height:34px;
}

.u63 {
    position:absolute;
    left:2px;
    top:9px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

