body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Blank___Full_view_Camera_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:2px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Blank___Full_view_Camera_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:66px;
    top:138px;
    width:321px;
    height:44px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:44px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Blank___Full_view_Camera_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:66px;
    top:122px;
    width:321px;
    height:16px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:16px;
}

.u5 {
    position:absolute;
    left:2px;
    top:0px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:95px;
    top:122px;
    width:53px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:198px;
    top:122px;
    width:57px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Blank___Full_view_Camera_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:70px;
    top:145px;
    width:10px;
    height:28px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:34px;
}

.u9 {
    position:absolute;
    left:2px;
    top:6px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Blank___Full_view_Camera_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:80px;
    top:145px;
    width:40px;
    height:28px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:34px;
}

.u11 {
    position:absolute;
    left:2px;
    top:7px;
    width:36px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Blank___Full_view_Camera_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:70px;
    top:189px;
    width:310px;
    height:405px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:310px;
    height:405px;
}

.u13 {
    position:absolute;
    left:2px;
    top:194px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Blank___Full_view_Camera_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:150px;
    top:430px;
    width:32px;
    height:33px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:33px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Blank___Full_view_Camera_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:280px;
    top:300px;
    width:33px;
    height:32px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:32px;
}

.u17 {
    position:absolute;
    left:2px;
    top:8px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Blank___Full_view_Camera_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:70px;
    top:567px;
    width:309px;
    height:26px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:315px;
    height:32px;
}

.u19 {
    position:absolute;
    left:2px;
    top:5px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:158px;
    top:570px;
    width:143px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Blank___Full_view_Camera_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:280px;
    top:571px;
    width:25px;
    height:22px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:22px;
}

.u22 {
    position:absolute;
    left:2px;
    top:3px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Blank___Full_view_Camera_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:216px;
    top:496px;
    width:32px;
    height:32px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u24 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Blank___Full_view_Camera_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:94px;
    top:496px;
    width:32px;
    height:32px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u26 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Blank___Full_view_Camera_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:94px;
    top:233px;
    width:32px;
    height:32px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u28 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Blank___Full_view_Camera_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:94px;
    top:367px;
    width:32px;
    height:32px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u30 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Blank___Full_view_Camera_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:325px;
    top:496px;
    width:32px;
    height:32px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u32 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Blank___Full_view_Camera_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:325px;
    top:233px;
    width:32px;
    height:32px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u34 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Blank___Full_view_Camera_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:325px;
    top:367px;
    width:32px;
    height:32px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u36 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Blank___Full_view_Camera_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:218px;
    top:233px;
    width:32px;
    height:32px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u38 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Blank___Full_view_Camera_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:214px;
    top:370px;
    width:30px;
    height:30px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u40 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Blank___Full_view_Camera_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:156px;
    top:569px;
    width:28px;
    height:22px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:22px;
}

.u42 {
    position:absolute;
    left:2px;
    top:3px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Blank___Full_view_Camera_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:90px;
    top:568px;
    width:24px;
    height:23px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:23px;
}

.u44 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Blank___Full_view_Camera_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:228px;
    top:571px;
    width:17px;
    height:19px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:19px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u47_container {
    position:absolute;
    left:148px;
    top:569px;
    width:41px;
    height:24px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:30px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Blank___Full_view_Camera_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:349px;
    top:570px;
    width:21px;
    height:22px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:22px;
}

.u50 {
    position:absolute;
    left:2px;
    top:3px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Blank___Full_view_Camera_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:349px;
    top:571px;
    width:20px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Blank___Full_view_Camera_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:420px;
    top:502px;
    width:310px;
    height:108px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:114px;
}

.u54 {
    position:absolute;
    left:2px;
    top:46px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:431px;
    top:515px;
    width:280px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Blank___Full_view_Camera_files/u51_normal.png');
}

.u56_container {
    position:absolute;
    left:559px;
    top:511px;
    width:20px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Blank___Full_view_Camera_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:379px;
    top:567px;
    width:13px;
    height:24px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:30px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Blank___Full_view_Camera_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:386px;
    top:564px;
    width:27px;
    height:30px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u61 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u62_container {
    position:absolute;
    left:334px;
    top:569px;
    width:41px;
    height:24px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:30px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Blank___Full_view_Camera_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:70px;
    top:187px;
    width:309px;
    height:26px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:315px;
    height:32px;
}

.u65 {
    position:absolute;
    left:2px;
    top:5px;
    width:305px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Blank___Full_view_Camera_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:420px;
    top:370px;
    width:310px;
    height:60px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:66px;
}

.u67 {
    position:absolute;
    left:2px;
    top:22px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:438px;
    top:385px;
    width:280px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Blank___Full_view_Camera_files/u41_normal.png');
}

.u69_container {
    position:absolute;
    left:506px;
    top:379px;
    width:28px;
    height:22px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:22px;
}

.u70 {
    position:absolute;
    left:2px;
    top:3px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Blank___Full_view_Camera_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:159px;
    top:548px;
    width:22px;
    height:14px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:20px;
}

.u72 {
    position:absolute;
    left:2px;
    top:-1px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Blank___Full_view_Camera_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:155px;
    top:523px;
    width:30px;
    height:30px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u74 {
    position:absolute;
    left:2px;
    top:3px;
    width:26px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Blank___Full_view_Camera_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:309px;
    top:146px;
    width:30px;
    height:27px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:27px;
}

.u76 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Blank___Full_view_Camera_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:349px;
    top:146px;
    width:30px;
    height:27px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:27px;
}

.u78 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Blank___Full_view_Camera_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:268px;
    top:146px;
    width:32px;
    height:27px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:27px;
}

.u80 {
    position:absolute;
    left:2px;
    top:6px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

