body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Settings___add_web_server_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:2px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Settings___add_web_server_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:67px;
    top:122px;
    width:319px;
    height:16px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:319px;
    height:16px;
}

.u3 {
    position:absolute;
    left:2px;
    top:0px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:96px;
    top:122px;
    width:52px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:198px;
    top:122px;
    width:57px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Settings___add_web_server_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:67px;
    top:138px;
    width:319px;
    height:43px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:49px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:315px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Settings___add_web_server_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:67px;
    top:182px;
    width:319px;
    height:38px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:44px;
}

.u9 {
    position:absolute;
    left:2px;
    top:11px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:196px;
    top:191px;
    width:74px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Settings___add_web_server_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:71px;
    top:145px;
    width:10px;
    height:28px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:34px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Settings___add_web_server_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:81px;
    top:145px;
    width:39px;
    height:28px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:34px;
}

.u14 {
    position:absolute;
    left:2px;
    top:7px;
    width:35px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Settings___add_web_server_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:346px;
    top:144px;
    width:31px;
    height:30px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:37px;
    height:36px;
}

.u16 {
    position:absolute;
    left:2px;
    top:8px;
    width:27px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Settings___add_web_server_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:135px;
    top:149px;
    width:20px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Settings___add_web_server_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:76px;
    top:548px;
    width:300px;
    height:44px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:50px;
}

.u20 {
    position:absolute;
    left:2px;
    top:12px;
    width:296px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Settings___add_web_server_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:353px;
    top:274px;
    width:8px;
    height:15px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u22 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Settings___add_web_server_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:75px;
    top:492px;
    width:300px;
    height:45px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u24 {
    position:absolute;
    left:2px;
    top:12px;
    width:296px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Settings___add_web_server_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:77px;
    top:231px;
    width:298px;
    height:240px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:304px;
    height:246px;
}

.u26 {
    position:absolute;
    left:2px;
    top:112px;
    width:294px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Settings___add_web_server_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:77px;
    top:460px;
    width:298px;
    height:22px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:304px;
    height:28px;
}

.u28 {
    position:absolute;
    left:2px;
    top:3px;
    width:294px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:81px;
    top:237px;
    width:150px;
    height:252px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../Settings___add_web_server_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:0px;
    top:4px;
    width:298px;
    height:3px;
}

.u30 {
    position:absolute;
    left:77px;
    top:268px;
    width:298px;
    height:10px;
    
}

.u31_line {
    background-image: url('../Settings___add_web_server_files/u31_line.png');
}

.u31_line {
    position:absolute;
    left:0px;
    top:4px;
    width:298px;
    height:3px;
}

.u31 {
    position:absolute;
    left:77px;
    top:309px;
    width:298px;
    height:10px;
    
}

.u32_line {
    background-image: url('../Settings___add_web_server_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:4px;
    width:298px;
    height:3px;
}

.u32 {
    position:absolute;
    left:77px;
    top:351px;
    width:298px;
    height:10px;
    
}

.u33_line {
    background-image: url('../Settings___add_web_server_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:298px;
    height:3px;
}

.u33 {
    position:absolute;
    left:77px;
    top:392px;
    width:298px;
    height:10px;
    
}

.u34_line {
    background-image: url('../Settings___add_web_server_files/u34_line.png');
}

.u34_line {
    position:absolute;
    left:0px;
    top:4px;
    width:298px;
    height:3px;
}

.u34 {
    position:absolute;
    left:77px;
    top:434px;
    width:298px;
    height:10px;
    
}

.u35_normal {
    background-image: url('../Settings___add_web_server_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:359px;
    top:290px;
    width:6px;
    height:135px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:135px;
}

.u36 {
    position:absolute;
    left:2px;
    top:60px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Settings___add_web_server_files/u21_normal.png');
}

.u37_container {
    position:absolute;
    left:353px;
    top:564px;
    width:8px;
    height:15px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:8px;
    height:15px;
}

.u38 {
    position:absolute;
    left:2px;
    top:0px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Settings___add_web_server_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:65px;
    top:121px;
    width:320px;
    height:480px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u40 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Settings___add_web_server_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:87px;
    top:272px;
    width:275px;
    height:211px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:281px;
    height:217px;
}

.u42 {
    position:absolute;
    left:2px;
    top:98px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:101px;
    top:279px;
    width:246px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Settings___add_web_server_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:99px;
    top:328px;
    width:248px;
    height:37px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:254px;
    height:43px;
}

.u45 {
    position:absolute;
    left:2px;
    top:10px;
    width:244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Settings___add_web_server_files/u44_normal.png');
}

.u46_container {
    position:absolute;
    left:99px;
    top:374px;
    width:248px;
    height:37px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:254px;
    height:43px;
}

.u47 {
    position:absolute;
    left:2px;
    top:10px;
    width:244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Settings___add_web_server_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:99px;
    top:426px;
    width:120px;
    height:45px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:51px;
}

.u49 {
    position:absolute;
    left:2px;
    top:12px;
    width:116px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Settings___add_web_server_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:229px;
    top:426px;
    width:120px;
    height:45px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:51px;
}

.u51 {
    position:absolute;
    left:2px;
    top:12px;
    width:116px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

