body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Create_Layout_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:2px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Create_Layout_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:66px;
    top:122px;
    width:320px;
    height:480px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u3 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Create_Layout_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:66px;
    top:137px;
    width:320px;
    height:43px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u5 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Create_Layout_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:66px;
    top:121px;
    width:321px;
    height:16px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:16px;
}

.u7 {
    position:absolute;
    left:2px;
    top:0px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:95px;
    top:121px;
    width:53px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:198px;
    top:121px;
    width:57px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:77px;
    top:196px;
    width:160px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Create_Layout_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:75px;
    top:225px;
    width:300px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u12 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Create_Layout_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:76px;
    top:491px;
    width:300px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:296px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Create_Layout_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:135px;
    top:149px;
    width:20px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:80px;
    top:285px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Create_Layout_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:77px;
    top:307px;
    width:293px;
    height:111px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:299px;
    height:117px;
}

.u19 {
    position:absolute;
    left:2px;
    top:48px;
    width:289px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Create_Layout_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:177px;
    top:328px;
    width:23px;
    height:23px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u21 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Create_Layout_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:248px;
    top:328px;
    width:23px;
    height:23px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Create_Layout_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:320px;
    top:328px;
    width:23px;
    height:23px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u25 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Create_Layout_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:105px;
    top:374px;
    width:23px;
    height:23px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u27 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Create_Layout_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:177px;
    top:374px;
    width:23px;
    height:23px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u29 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Create_Layout_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:248px;
    top:374px;
    width:23px;
    height:23px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Create_Layout_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:320px;
    top:374px;
    width:23px;
    height:23px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u33 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Create_Layout_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:230px;
    top:433px;
    width:34px;
    height:23px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:23px;
}

.u35 {
    position:absolute;
    left:2px;
    top:4px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Create_Layout_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:68px;
    top:145px;
    width:58px;
    height:27px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:27px;
}

.u37 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:78px;
    top:151px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Create_Layout_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:105px;
    top:328px;
    width:23px;
    height:23px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:81px;
    top:436px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

