body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Blank___a_z_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:2px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Blank___a_z_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:66px;
    top:122px;
    width:320px;
    height:480px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u3 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Blank___a_z_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:66px;
    top:137px;
    width:320px;
    height:43px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u5 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Blank___a_z_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:66px;
    top:121px;
    width:321px;
    height:16px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:16px;
}

.u7 {
    position:absolute;
    left:2px;
    top:0px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:95px;
    top:121px;
    width:53px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:198px;
    top:121px;
    width:57px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Blank___a_z_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:66px;
    top:266px;
    width:319px;
    height:45px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:51px;
}

.u11 {
    position:absolute;
    left:2px;
    top:12px;
    width:315px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:77px;
    top:189px;
    width:133px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Blank___a_z_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:66px;
    top:220px;
    width:319px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:51px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:315px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Blank___a_z_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:66px;
    top:446px;
    width:319px;
    height:45px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:315px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_line {
    background-image: url('../Blank___a_z_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:0px;
    top:4px;
    width:319px;
    height:3px;
}

.u17 {
    position:absolute;
    left:66px;
    top:440px;
    width:319px;
    height:10px;
    
}

.u18_normal {
    background-image: url('../Blank___a_z_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:66px;
    top:311px;
    width:319px;
    height:45px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:51px;
}

.u19 {
    position:absolute;
    left:2px;
    top:12px;
    width:315px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Blank___a_z_files/u10_normal.png');
}

.u20_container {
    position:absolute;
    left:66px;
    top:355px;
    width:319px;
    height:45px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:51px;
}

.u21 {
    position:absolute;
    left:2px;
    top:12px;
    width:315px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Blank___a_z_files/u10_normal.png');
}

.u22_container {
    position:absolute;
    left:66px;
    top:400px;
    width:319px;
    height:45px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:51px;
}

.u23 {
    position:absolute;
    left:2px;
    top:12px;
    width:315px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Blank___a_z_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:135px;
    top:149px;
    width:20px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Blank___a_z_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:260px;
    top:187px;
    width:37px;
    height:25px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:43px;
    height:31px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:33px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Blank___a_z_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:305px;
    top:187px;
    width:30px;
    height:25px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:31px;
}

.u29 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Blank___a_z_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:68px;
    top:145px;
    width:58px;
    height:27px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:27px;
}

.u31 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:78px;
    top:151px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Blank___a_z_files/u28_normal.png');
}

.u33_container {
    position:absolute;
    left:347px;
    top:188px;
    width:30px;
    height:25px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:31px;
}

.u34 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

