body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:2px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:66px;
    top:122px;
    width:320px;
    height:480px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u3 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:66px;
    top:138px;
    width:319px;
    height:464px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:470px;
}

.u5 {
    position:absolute;
    left:2px;
    top:224px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:66px;
    top:138px;
    width:320px;
    height:43px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:66px;
    top:122px;
    width:321px;
    height:16px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:16px;
}

.u9 {
    position:absolute;
    left:2px;
    top:0px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:95px;
    top:122px;
    width:53px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:198px;
    top:122px;
    width:57px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:383px;
    top:283px;
    width:13px;
    height:24px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:30px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:390px;
    top:280px;
    width:27px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:419px;
    top:280px;
    width:310px;
    height:140px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:146px;
}

.u17 {
    position:absolute;
    left:2px;
    top:62px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:437px;
    top:294px;
    width:280px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:135px;
    top:149px;
    width:20px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:70px;
    top:145px;
    width:10px;
    height:28px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:34px;
}

.u22 {
    position:absolute;
    left:2px;
    top:6px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:80px;
    top:145px;
    width:40px;
    height:28px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:34px;
}

.u24 {
    position:absolute;
    left:2px;
    top:7px;
    width:36px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:67px;
    top:218px;
    width:158px;
    height:171px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:158px;
    height:171px;
}

.u26 {
    position:absolute;
    left:2px;
    top:78px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:225px;
    top:218px;
    width:159px;
    height:171px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:171px;
}

.u28 {
    position:absolute;
    left:2px;
    top:78px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:67px;
    top:183px;
    width:319px;
    height:33px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:39px;
}

.u30 {
    position:absolute;
    left:2px;
    top:8px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:73px;
    top:192px;
    width:173px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:296px;
    top:330px;
    width:20px;
    height:28px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:34px;
}

.u33 {
    position:absolute;
    left:2px;
    top:6px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:275px;
    top:341px;
    width:66px;
    height:24px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:30px;
}

.u35 {
    position:absolute;
    left:2px;
    top:4px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:67px;
    top:366px;
    width:156px;
    height:22px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:28px;
}

.u37 {
    position:absolute;
    left:2px;
    top:3px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:196px;
    top:367px;
    width:19px;
    height:18px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:18px;
}

.u39 {
    position:absolute;
    left:2px;
    top:1px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:81px;
    top:369px;
    width:16px;
    height:16px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u41 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:156px;
    top:368px;
    width:18px;
    height:17px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:17px;
}

.u43 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:120px;
    top:367px;
    width:22px;
    height:17px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:17px;
}

.u45 {
    position:absolute;
    left:2px;
    top:0px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:225px;
    top:366px;
    width:159px;
    height:22px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:165px;
    height:28px;
}

.u47 {
    position:absolute;
    left:2px;
    top:3px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u38_normal.png');
}

.u48_container {
    position:absolute;
    left:350px;
    top:367px;
    width:19px;
    height:18px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:18px;
}

.u49 {
    position:absolute;
    left:2px;
    top:1px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u40_normal.png');
}

.u50_container {
    position:absolute;
    left:235px;
    top:369px;
    width:16px;
    height:16px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u51 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u42_normal.png');
}

.u52_container {
    position:absolute;
    left:295px;
    top:368px;
    width:18px;
    height:17px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:17px;
}

.u53 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u44_normal.png');
}

.u54_container {
    position:absolute;
    left:264px;
    top:367px;
    width:22px;
    height:17px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:17px;
}

.u55 {
    position:absolute;
    left:2px;
    top:0px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Zones_Live_Recorded_camera_view_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:324px;
    top:367px;
    width:17px;
    height:15px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:15px;
}

.u57 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:128px;
    top:218px;
    width:235px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

