body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Layout_Grid_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:2px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Layout_Grid_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:66px;
    top:138px;
    width:320px;
    height:43px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Layout_Grid_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:66px;
    top:122px;
    width:321px;
    height:16px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:16px;
}

.u5 {
    position:absolute;
    left:2px;
    top:0px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:95px;
    top:122px;
    width:53px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:198px;
    top:122px;
    width:57px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Layout_Grid_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:67px;
    top:218px;
    width:158px;
    height:171px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:158px;
    height:171px;
}

.u9 {
    position:absolute;
    left:2px;
    top:78px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Layout_Grid_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:225px;
    top:218px;
    width:159px;
    height:171px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:171px;
}

.u11 {
    position:absolute;
    left:2px;
    top:78px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Layout_Grid_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:67px;
    top:390px;
    width:158px;
    height:175px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:158px;
    height:175px;
}

.u13 {
    position:absolute;
    left:2px;
    top:80px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Layout_Grid_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:225px;
    top:390px;
    width:159px;
    height:175px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:175px;
}

.u15 {
    position:absolute;
    left:2px;
    top:80px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:125px;
    top:222px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:278px;
    top:222px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:122px;
    top:395px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:278px;
    top:395px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Layout_Grid_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:69px;
    top:366px;
    width:19px;
    height:17px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:17px;
}

.u21 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Layout_Grid_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:227px;
    top:366px;
    width:19px;
    height:16px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:16px;
}

.u23 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Layout_Grid_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:228px;
    top:544px;
    width:18px;
    height:16px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:16px;
}

.u25 {
    position:absolute;
    left:2px;
    top:0px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Layout_Grid_files/u22_normal.png');
}

.u26_container {
    position:absolute;
    left:70px;
    top:544px;
    width:19px;
    height:16px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:16px;
}

.u27 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Layout_Grid_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:383px;
    top:283px;
    width:13px;
    height:24px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:30px;
}

.u29 {
    position:absolute;
    left:2px;
    top:4px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Layout_Grid_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:390px;
    top:280px;
    width:27px;
    height:30px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u31 {
    position:absolute;
    left:2px;
    top:6px;
    width:23px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Layout_Grid_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:419px;
    top:280px;
    width:310px;
    height:110px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:116px;
}

.u33 {
    position:absolute;
    left:2px;
    top:47px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:437px;
    top:295px;
    width:280px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Layout_Grid_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:420px;
    top:60px;
    width:310px;
    height:70px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:76px;
}

.u36 {
    position:absolute;
    left:2px;
    top:27px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:436px;
    top:71px;
    width:284px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Layout_Grid_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:331px;
    top:147px;
    width:46px;
    height:25px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:31px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:42px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Layout_Grid_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:135px;
    top:149px;
    width:20px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Layout_Grid_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:789px;
    top:176px;
    width:719px;
    height:406px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:719px;
    height:406px;
}

.u43 {
    position:absolute;
    left:2px;
    top:195px;
    width:715px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Layout_Grid_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:909px;
    top:208px;
    width:480px;
    height:320px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:326px;
}

.u45 {
    position:absolute;
    left:2px;
    top:152px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Layout_Grid_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:200px;
    top:364px;
    width:20px;
    height:21px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:21px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Layout_Grid_files/u46_normal.png');
}

.u48_container {
    position:absolute;
    left:362px;
    top:364px;
    width:20px;
    height:21px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:21px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Layout_Grid_files/u46_normal.png');
}

.u50_container {
    position:absolute;
    left:202px;
    top:541px;
    width:20px;
    height:21px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:21px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Layout_Grid_files/u46_normal.png');
}

.u52_container {
    position:absolute;
    left:364px;
    top:541px;
    width:20px;
    height:21px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:21px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Layout_Grid_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:909px;
    top:209px;
    width:481px;
    height:16px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:16px;
}

.u55 {
    position:absolute;
    left:2px;
    top:0px;
    width:477px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:951px;
    top:209px;
    width:53px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:1118px;
    top:209px;
    width:57px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Layout_Grid_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:909px;
    top:225px;
    width:480px;
    height:304px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:310px;
}

.u59 {
    position:absolute;
    left:2px;
    top:144px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Layout_Grid_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:994px;
    top:228px;
    width:158px;
    height:149px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:158px;
    height:149px;
}

.u61 {
    position:absolute;
    left:2px;
    top:66px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Layout_Grid_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:1152px;
    top:228px;
    width:159px;
    height:149px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:149px;
}

.u63 {
    position:absolute;
    left:2px;
    top:66px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Layout_Grid_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:994px;
    top:377px;
    width:158px;
    height:151px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:158px;
    height:151px;
}

.u65 {
    position:absolute;
    left:2px;
    top:68px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Layout_Grid_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:1152px;
    top:377px;
    width:159px;
    height:151px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:151px;
}

.u67 {
    position:absolute;
    left:2px;
    top:68px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:1056px;
    top:353px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:1211px;
    top:353px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Layout_Grid_files/u20_normal.png');
}

.u70_container {
    position:absolute;
    left:997px;
    top:353px;
    width:19px;
    height:17px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:17px;
}

.u71 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Layout_Grid_files/u22_normal.png');
}

.u72_container {
    position:absolute;
    left:1155px;
    top:354px;
    width:19px;
    height:16px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:16px;
}

.u73 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Layout_Grid_files/u46_normal.png');
}

.u74_container {
    position:absolute;
    left:1126px;
    top:351px;
    width:20px;
    height:21px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:21px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Layout_Grid_files/u46_normal.png');
}

.u76_container {
    position:absolute;
    left:1288px;
    top:351px;
    width:20px;
    height:21px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:21px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:1057px;
    top:506px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:1212px;
    top:506px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../Layout_Grid_files/u20_normal.png');
}

.u80_container {
    position:absolute;
    left:998px;
    top:506px;
    width:19px;
    height:17px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:17px;
}

.u81 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Layout_Grid_files/u22_normal.png');
}

.u82_container {
    position:absolute;
    left:1156px;
    top:507px;
    width:19px;
    height:16px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:16px;
}

.u83 {
    position:absolute;
    left:2px;
    top:0px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Layout_Grid_files/u46_normal.png');
}

.u84_container {
    position:absolute;
    left:1127px;
    top:504px;
    width:20px;
    height:21px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:21px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../Layout_Grid_files/u46_normal.png');
}

.u86_container {
    position:absolute;
    left:1289px;
    top:504px;
    width:20px;
    height:21px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:21px;
}

.u87 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../Layout_Grid_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:68px;
    top:145px;
    width:58px;
    height:27px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:27px;
}

.u89 {
    position:absolute;
    left:2px;
    top:6px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:78px;
    top:151px;
    width:43px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Layout_Grid_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:67px;
    top:183px;
    width:319px;
    height:33px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:39px;
}

.u92 {
    position:absolute;
    left:2px;
    top:8px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:73px;
    top:192px;
    width:173px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../Layout_Grid_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:66px;
    top:567px;
    width:319px;
    height:34px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:319px;
    height:34px;
}

.u95 {
    position:absolute;
    left:2px;
    top:9px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

